.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container div{
    width: 10%;
    display: flex;
    flex-direction: column;
}


button{
    margin-top: 10px;
}

body{
    background-color: rgb(99, 100, 101);
}